<div class="tab-pane fade show active" id="transacoes" role="tabpanel" aria-labelledby="transacoes-tab">
   
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>Saldo</th>
            <th>Histórico</th>
            <th>Utilizados</th>
            <th>Perdidos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2.274,73</td>
            <td>189.274,73</td>
            <td>109.000,00</td>
            <td>78.000,00</td>
          </tr>          
        </tbody>
      </table>
      
      <hr style="color: gray">                
      
 </div>
