<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron text-center">
  <h1>DM Consultoria</h1>
  <p>Gerênciamento de Clientes</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
     <div class="well">
      <h3>Foto</h3>
      <img src="assets/foto.jpg" class="img-circle">
    </div> 
    </div>
    <div class="col-md-7">
      <p>---------------------------------------------------------------------------------------</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <h3>Nome</h3>
      <p>Aqui será colocado o sobrenome</p>     
    </div>
    <div class="col-lg-8">
      <p>---------------------------------------------------------------------------------------</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <h3>CPF</h3>
      <p>Aqui será colocado o CPF</p>
      <hr>
    </div>
    <div class="col-lg-8">
      <p>---------------------------------------------------------------------------------------</p>
    </div>  
  </div>
  <div class="row">
    <div class="col-lg-4">
      <h3>Observações importantes</h3>
      <p>Texto da Observação</p>
      <hr>
    </div>
    <div class="col-lg-8">
      <p>---------------------------------------------------------------------------------------</p>
    </div>   
  </div>
  <div class="row">
    <div class="col-lg-4">
      <h3>Email</h3>
      <p>Texto do E-mail</p>
      <hr>
    </div>
    <div class="col-lg-8">
      <p>---------------------------------------------------------------------------------------</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <h3>Telefone</h3>
      <p>Texto do Telefone</p>
      <hr>
    </div>
    <div class="col-lg-8">
      <p>---------------------------------------------------------------------------------------</p>
    </div>
    
  </div>
  <div class="row">
    <div class="col-lg-4">
      <h3>Endereço</h3>
      <p>Texto do Endereço</p>
      <hr>
    </div>
    <div class="col-lg-8">
      <p>---------------------------------------------------------------------------------------</p>
    </div>
   
  </div>

</div>