<div class="jumbotron h-100 mb-0">
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-3">
            <i class='far fa-arrow-alt-circle-left' style='font-size:24px'></i>
        </div>
        <div class="col-sm-9">
            <img src="assets/foto.jpg" class="rounded-circle" alt="Logo Dm Consultoria"  >
            <span class="font-weight-bold font-italic" style="text-align: center">Alexandre R. Ferreira, 44 anos</span><br>
            <span class="font-italic text-muted" style="text-align: center">CPF: 04436823725 Cod: 001</span>  
        </div>
      </div>
            
    </div>
 <hr class="my-4">
 <span class="font-weight-bold font-italic" style="text-align: center">Observações Importantes:</span><br>
 <span class="font-italic text-muted" style="text-align: center">Sr. Alexandre ficou muito satisfeito com o atendimento.</span>              
 <hr class="my-4"> 
 <span class="font-weight-bold font-italic" style="text-align: center">E-mail:</span><br>
 <span class="font-italic text-muted" style="text-align: center">xanderifer1974@gmail.com</span>          
 <hr class="my-4"> 
 <span class="font-weight-bold font-italic" style="text-align: center">Telefone:</span><br>
 <span class="font-italic text-muted" style="text-align: center">+552198588-9919</span>             
 <hr class="my-4"> 
 <span class="font-weight-bold font-italic" style="text-align: center">Endereço:</span><br>
 <span class="font-italic text-muted" style="text-align: center">Rua Betim, 2
  Magalhães Bastos - Rio de Janeiro - RJ.
</span> 
</div>

