<div class="h-100 mb-0">
  <h5>Fidelidade</h5>
  <hr style="color: gray">

  <div class="nav_tabs">
    <ul>
      <li>
        <input type="radio" name="tabs" class="rd_tabs" id="tab1" checked>
        <label for="tab1">TRANSAÇÕES</label>
        <div class="content">
          <article>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Saldo</th>
                  <th>Histórico</th>
                  <th>Utilizados</th>
                  <th>Perdidos</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>2.274,73</td>
                  <td>189.274,73</td>
                  <td>109.000,00</td>
                  <td>78.000,00</td>
                </tr>
              </tbody>
            </table>
            <hr style="color: gray">
          </article>
        </div>
      </li>
      <li>
        <input type="radio" name="tabs" class="rd_tabs" id="tab2">
        <label for="tab2">BENEFÍCIOS</label>
        <div class="content">
          <article>
            <hr style="color: gray">
            <h6>BENEFÍCIOS</h6>
            <hr style="color: gray">
          </article>
        </div>
      </li>
      <li>
        <input type="radio" name="tabs" class="rd_tabs" id="tab3">
        <label for="tab3">HISTÓRICOS</label>
        <div class="content">
          <article>
            <hr style="color: gray">
            <h6>HISTÓRICOS</h6>
            <hr style="color: gray">
          </article>
        </div>
      </li>
    </ul>
  </div>
</div>