<div class="h-100 mb-0">
    <h6 class="display-6">Fidelidade</h6>
    <hr style="color: gray"> 
    <!--------ABAS DE NAVEGAÇÃO PRINCIPAL --> 
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="transacoes-tab" data-toggle="tab" href="#transacoes" role="tab" aria-controls="transacoes"
          aria-selected="true">TRANSAÇÕES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="beneficios-tab" data-toggle="tab" href="#beneficios" role="tab" aria-controls="beneficios"
          aria-selected="false">BENEFÍCIOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="historicos-tab" data-toggle="tab" href="#historicos" role="tab" aria-controls="historicos"
          aria-selected="false">HISTÓRICOS</a>
      </li>
    </ul>
    <hr style="color: gray"> 
    <div class="tab-content" id="myTabContent">
      <!--Tab Transacoes -->
      <dm-detalhe-cliente-transacao></dm-detalhe-cliente-transacao>
      <!--Tab Transacoes -->
      <div class="tab-pane fade" id="beneficios" role="tabpanel" aria-labelledby="beneficios-tab">Food truck fixie
        locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit,
        blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
        Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum
        PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS
        salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit,
        sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
        stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</div>
      <div class="tab-pane fade" id="historicos" role="tabpanel" aria-labelledby="historicos-tab">Etsy mixtape
        wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack
        lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard
        locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify
        squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie
        etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog
        stumptown. Pitchfork sustainable tofu synth chambray yr.</div>
    </div>
    
    <!-------- FIM ABAS DE NAVEGAÇÃO PRINCIPAL -->                       
 </div>
