<div class="h-100 mb-0">
  <h5>Fidelidade</h5>
  <hr style="color: gray">

  <div class="nav_tabs">
    <ul>
      <li>
        <input type="radio" name="tabs" class="rd_tabs" id="tab1" checked>
        <label for="tab1">TRANSAÇÕES</label>
        <div class="content">
          <article>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Saldo</th>
                  <th>Histórico</th>
                  <th>Utilizados</th>
                  <th>Perdidos</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>2.274,73</td>
                  <td>189.274,73</td>
                  <td>109.000,00</td>
                  <td>78.000,00</td>
                </tr>
              </tbody>
            </table>
            <hr style="color: gray">
            <h6>Adicionar Notas</h6>
            <form>
              <div class="row">
                <div class="col-md-12">
                  <label id="labelForm" for="loja">Loja</label>
                  <input type="text" id="loja" aria-describedby="loja" placeholder="Razão Social, nome fantasia o CNPJ">
                  <hr style="color: gray">
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label id="labelForm" for="nrnota">N° da Nota.</label>
                  <input type="text" id="nrNota" aria-describedby="nrNota" placeholder="-------">
                  <hr style="color: gray">
                </div>
                <div class="col-md-3">
                  <label id="labelForm" for="dtnota">Data da Nota</label>
                  <input type="text" id="dtnota" aria-describedby="nrNota" placeholder="dd/mm/aaaa">
                  <hr style="color: gray">

                </div>
                <div class="col-md-3">
                  <label id="labelForm" for="dtnota">Forma de Pagamento</label>
                  <input type="text" id="dtnota" aria-describedby="nrNota" placeholder="selecionar">
                  <hr style="color: gray">

                </div>
                <div class="col-md-3">
                  <label id="labelForm" for="dtnota">Valor</label>
                  <input type="se" id="dtnota" aria-describedby="nrNota" placeholder="R$">
                  <hr style="color: gray">
                </div>
              </div>
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"><button type="button" class="btn btn-light">Cancelar</button></div>
                <div class="col-md-3"> <button type="button" class="btn btn-info">Cadastrar</button></div>
              </div>
            </form>
            <hr style="color: gray">
            <h6>Cadastrar Notas </h6>
            <p style="color: gray">Você precisa confirmar o cadastro dessa lista de notas</p>
            <hr style="color: gray">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Loja</th>
                  <th scope="col">Nº Nota</th>
                  <th scope="col">Data Nota</th>
                  <th scope="col">Cadastro</th>
                  <th scope="col">Valor</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">The Fities</th>
                  <td>479243</td>
                  <td>16/07/2016</td>
                  <td>16/07/2016</td>
                  <td>R$ 24,30</td>
                </tr>
                <tr>
                  <th scope="row">The Fities</th>
                  <td>479243</td>
                  <td>16/07/2016</td>
                  <td>16/07/2016</td>
                  <td>R$ 24,30</td>
                </tr>
                <tr>
                  <th scope="row">The Fities</th>
                  <td>479243</td>
                  <td>16/07/2016</td>
                  <td>16/07/2016</td>
                  <td>R$ 24,30</td>
                </tr>
              </tbody>
            </table>
            <hr style="color: gray">
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-3"></div>
              <div class="col-md-3"><button type="button" class="btn btn-light">Cancelar</button></div>
              <div class="col-md-3"> <button type="button" class="btn btn-info">Cadastrar</button></div>
            </div>
            <hr style="color: gray">
          </article>
        </div>
      </li>
      <li>
        <input type="radio" name="tabs" class="rd_tabs" id="tab2">
        <label for="tab2">BENEFÍCIOS</label>
        <div class="content">
          <article>
            <hr style="color: gray">
            <h6>BENEFÍCIOS</h6>
            <hr style="color: gray">
          </article>
        </div>
      </li>
      <li>
        <input type="radio" name="tabs" class="rd_tabs" id="tab3">
        <label for="tab3">HISTÓRICOS</label>
        <div class="content">
          <article>
            <hr style="color: gray">
            <h6>HISTÓRICOS</h6>
            <hr style="color: gray">
          </article>
        </div>
      </li>
    </ul>
  </div>
</div>